body{
    background-color: #e5e5e5;
}

.red{
    color:#FB5B44
}

.for-web{
    display:block;
}                                                                                   


#map {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 20;
    left: 0;
}

@media screen and (max-width: 768px){
    .for-web{
        display:none;
    }
    #map{
        width: 100vw;
        height: 100vh;
    }
}