@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    input {
        outline: none;
        @apply bg-transparent border-0 text-gray-900;
    }
    button {
        @apply cursor-pointer border text-center text-white rounded-lg h-10;
    }
    select {
        @apply text-primary-500 rounded-lg bg-transparent px-2 outline-none;
    }
    option {
        @apply text-center p-2;
    }
}

@layer components {
    .mask {
        @apply fixed w-screen h-screen z-10 bg-black opacity-50 top-0 left-0;
    }
    .sub-title {
        @apply text-primary-500 text-lg font-bold pr-2;
    }
    .input-box {
        @apply flex justify-between items-center bg-light shadow-md px-2 h-12 rounded-md;
    }

    .input-box-round{
        @apply input-box rounded-lg;
    }

    .keyboard-item {
       width: 19%;
       @apply border text-2xl font-bold flex justify-center items-center rounded-lg h-12 cursor-pointer border-line bg-light;
    }

    .status {
        @apply rounded-md h-4 w-8 border mr-2 p-1;
    }
    .gradients{
        @apply bg-gradient-to-tr from-gradients-200 to-gradients-100;
    }

    .gradients-deep{
        @apply bg-gradient-to-tr from-gradients-500 to-gradients-400;
    }

    .gradients-dark{
        @apply bg-gradient-to-tr from-gradients-900 to-gradients-800;
    }
    .touch-ball{
        @apply
            rounded-full                
            fixed
            z-50
            bg-light
            w-16
            h-16
            flex
            justify-center
            items-center
            shadow-lg
            cursor-pointer
    }
    .panel {
        @apply pt-2 px-4 rounded-tl-3xl  w-screen h-screen rounded-tr-3xl bg-light fixed z-50 bottom-0;
    }

    .scroll-list{
        height: calc(100vh - 200px);
        @apply overflow-y-scroll pb-4;
    }
    .side-block{
        @apply md:fixed md:w-96 md:shadow-lg md:h-3/4 md:pb-10 md:bottom-0 md:left-0 md:bg-light z-50;
    }
    .no-data{
       @apply text-center text-lg text-gray-400 pt-2; 
    }
}

@screen md{
    .side-block{
        min-height: 580px;
        border-top-right-radius: 60px;
    }
}

@media screen and (max-width: 768px) {
    .for-mobile {
        display: block;
    }
    .for-mobile-flex {
        display: flex;
    }
    .map {
        top: 0;
        left: 0px;
        @apply w-screen h-screen;
    }
    .list {
        height: calc(100vh - 80px - 280px);
    }
}

